@charset "UTF-8";

#box{
	width: 1400px;
	height: 1000px;
	margin: auto;
	font-family: 'IBM Plex Sans KR', sans-serif;
}
#header{
	width: 100%;
	height: 230px;	
	text-align: center;
}

#content{
	width: 100%;
	height: 70%; 
	font-family: 'IBM Plex Sans KR', sans-serif;
	background: gray;
}

#footer{
	width: 100%;
	height: 150px;
	background: white;
	
	text-align: center;
}

#copyright{
	color: darkgray;
	font-family: 'IBM Plex Sans KR', sans-serif;
}